/*
  Reset CSS
*/

/* 1. box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Eliminar margen predeterminado de los browser */
* {
  margin: 0px;
  padding: 0px;
}

/* 3. Estableciendo la minima altura de una caja a toda la pantalla */
html, body {
  height: 100%;
  background: #f1f1f1;
}

/* 4. Mejora la representación del texto 
4.1 Definiendo OpenSans como fuente predeterminada*/

body {
  -webkit-font-smoothing: antialiased;
  font-family: OpenSans;
}

/* 5. Mejorar los valores predeterminados de los medios */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Evitar los desbordamientos de texto */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*7. Quitando Estilos de los textos de links  */

a:-webkit-any-link {
  color: unset;
  text-decoration: none;
}


/*8.Agregar cuadrado después del header hecho por Emilio */

.cuadrado {
  margin-top: 30px ! important;
  padding: 20px;
  margin: 10px;
  background-color: #d4c6c6ef;
  border: solid 1px #d4c6c6ef(255, 247, 247);
  color: black;
}

.cuadradoMitad {
  width: 40%;
  border: solid 1px #d4c6c6ef(255, 247, 247);
}


/*
  End - Reset CSS
*/

/* fonts */

@font-face {
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);

}