/*
  Reset CSS
*/

/* 1. box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Eliminar margen predeterminado de los browser */
* {
  margin: 0px;
  padding: 0px;
}

/* 3. Estableciendo la minima altura de una caja a toda la pantalla */
html, body {
  height: 100%;
}

/* 4. Mejora la representación del texto 
4.1 Definiendo OpenSans como fuente predeterminada*/

body {
  -webkit-font-smoothing: antialiased;
  font-family: OpenSans;
}

/* 5. Mejorar los valores predeterminados de los medios */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Evitar los desbordamientos de texto */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*7. Quitando Estilos de los textos de links  */

a:-webkit-any-link {
  color: unset;
  text-decoration: none;
}


/*8.Agregar cuadrado después del header hecho por Emilio */



.contenido{
    padding: var(--margen-horizontal);
    max-width: var(--maxWidth-container);
    margin: 0 auto; 
    padding-left: 10%; 
    
}


.nombre {
  display: grid;
  grid-template-rows: min-content min-content auto;
  text-align: left;
  overflow-wrap: break-word;
  margin-left: 5%;
}

h2 {
  /*font-size: 30px;
  /*font-weight: 600;*/
  color: var(--color-Negro);
  margin-bottom: 6px;
}

p{
font-size: 20px;
}

h4{
  display: grid;
  align-items: end;
  justify-items: end;
  margin-right: 0;
  color: var(--color-Rojo);
  font-weight: 800;
  opacity: 0.8;
  margin-top: 9%;
  font-size: 30px;
  
}

.cuadrado {
  margin-top: 30px ! important;
  padding: 20px;
  margin-left:150px;
  margin-right: 150px;
  background-color: #f5eeeeef;
  border: solid 1px  #d4c6c6ef(255, 247, 247);
  color: black;
  border-radius: 5%;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%)
}



/*Imagen de Muzarella */ 
.Pizza {
  width: 100%;
  height: 100%;
  
  /*width: 100%;
  text-align: center;
  margin-left: calc(var(--header-Nav-height) - (var(--header-Nav-height) * 2) + 1rem);*/
}

/*
.contenido{
  width: 50%;
    float: left;
    height: auto;
    margin: 0; 
}
*/

.imagen{
  
  width: 15%;
    float: left;
    height: auto;
    margin-right: 5%;
}

#clear {
  clear: both;
}

  .footer {  
  height: var(--header-Nav-height);
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
  backdrop-filter: blur(2px);
  background: var(--background--Nav);
  border-radius: 1rem;
  margin: var(--margen-horizontal);
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  
}

.fondoCarrito{
background-color: #9b9393ef;
display: flex;
justify-content: center;
  align-items: center;
border-radius: 75%;
width: 5%;
height: auto;
padding: 1%;

}

.carrito{
  justify-content: center;
  align-items: center;

}

.botonCarrito {
  background-color: #9b9393ef;
  border: 0px;

}


/*
  End - Reset CSS
*/

/* fonts */

@font-face {
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);

}