/* Estilo del Componente Navbar*/
header {
 
  top: 0px;
  position:relative;
}

nav {
  display: inline-flex;
  width: 100vw;
  align-items: center;
  height: var(--header-Nav-height);
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
  backdrop-filter: blur(2px);
  background: var(--background--Nav);
  font-size: xx-large;
  font-style: italic
}

.logo {
  width: var(--header-Nav-height);
  height: auto;
}

picture+div {
  width: 100%;
  text-align: center;
  margin-left: calc(var(--header-Nav-height) - (var(--header-Nav-height) * 2) + 1rem);
}

.MarginTopNav {
  margin-bottom: var(--header-Nav-height);
}

.contenido

{   
    margin: 100px 30px 10px 100px;
    border: 1px solid #e1e1e1;
    border-top-width: 10px;
    border-right-width: 1em;
    position:relative;
    text-align: center;
    border-bottom-width: thick;
    border-left-width: thin;
}

.ajuste {
text-align: center;
margin-top: 1rem;
font-size: 30px;

}


.cambios

{

text-align: center;
margin-top: 5rem;
height: 300px;
width: 300px;

}

img{

display:block;
margin:auto;
max-width: 100%;
max-height: 100%;
}
