/* Estilo del Componente Navbar*/
header {
  position: fixed;
  /* Necesario para que sea flotante la barra del Nav*/
  top: 0px;
  z-index: 1;
}

nav {
  display: inline-flex;
  width: 100vw;
  align-items: center;
  height: var(--header-Nav-height);
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
  backdrop-filter: blur(2px);
  background: var(--background--Nav);
  font-size: xx-large;
  font-style: italic
}

.logo {
  width: var(--header-Nav-height);
  height: auto;
}

picture+div {
  width: 100%;
  text-align: center;
  margin-left: calc(var(--header-Nav-height) - (var(--header-Nav-height) * 2) + 1rem);
}

.MarginTopNav {
  margin-bottom: calc(var(--header-Nav-height) + 1rem);
}