.contenido
{   
    margin: 100px 10px 15px 100px;
    border: 1px solid #000;
    border-top-width: 5px;
    border-right-width: 1em;
    position:relative;
    text-align: center;
    background: #ec3205;
    border-radius: 20px;
    /*color: #fff;*/
    display: block;
    padding: 10px;
    text-decoration: none;
    
}

.ajuste {

text-align: center;
margin-top: 1rem;
font-size: 30px;

}

img
{

    margin-top: 20rem;
    max-height: 100%;
    max-width: 100%;
    

}

.cat {

 height: 300px;
 width: 300px;
 display:block;
 margin:auto;
 

    
 

}

.margen {
    background:#ec3205;
    border-radius: 5px;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    border: 1px solid #000;

}