:root {
    --color1: #fff485;
}
@font-face {
    font-family: donRemolo;
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf') ;
  }
/* ----------------------------------------
|   Por defecto
-------------------------------------------*/
body {
    background: url('../img/backgroundCompleto.svg');
    font-family: 'donRemolo';
}
a {
    text-decoration: none;
    color: inherit;
}
/* ----------------------------------------
|   Aux
-------------------------------------------*/
.b {
    border: red solid 1px;
}
/* ----------------------------------------
|   Generales
-------------------------------------------*/
.content {
    display: flex;
    place-content: center;
    margin: 20px;
    flex-direction: column;
}

.cabecera img{
    width: 100%;
}

.titular {
    margin-top: 20px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 5px 5px #e0e0e0;
    margin-bottom: 70px;
}
/* ----------------------------------------
|   Home
-------------------------------------------*/
.categorias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap: 30px;
}
.categorias .caja {
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px #e0e0e0;
    border-radius: 10px;
    margin-bottom: 50px;
}
.categorias .caja .imagen{
    position: relative;
    display: flex;
    place-content: center;
}
.categorias .caja img {
    position: absolute;
    top: -50px;
    width: 190px;
}
.categorias .caja .title {
    font-size: 20px;
    text-align: center;
    padding: 100px 0 50px 0;
}

.banner {
    margin: 50px 0;
    text-align: center;
}
.banner img{
    width: 90%;
}

/* --------------------- ICONOS --------------------- */
.headerIconos {
    margin-top: 20px;
    margin-bottom: 16px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2.71296px 13.5648px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}
.bloqueNaranja img {
    width: 36px;
    height: 36px;
}

.bloqueNaranja img:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}
.bloqueNaranja {
    width: 36px;
    height: 36px;
    place-items: center;
    transition: all 0.2s ease;
    border-radius: 3px;
    place-items: center;
    align-items: center;
    justify-items: center;
}
    .bloqueNaranja:hover {
    background-color: #ec3205;
    transition: all 0.1s ease;
}
  /* --------------------- ICONOS --------------------- */
  
/* ----------------------------------------
|   Pagina Carga
-------------------------------------------*/

.cabecera {
    position: relative;
}

.cajaFlechaAtras {
    position: absolute;
    width: 12px;
    height: 21px;
    left: 20px;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
}

.productoCompra {
    margin-top: 20px;
    width: 100%;
    height: 520px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
    background: #ffffff;
}

.nombreProducto {
    width: 90%;
    height: 60px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}

.nombreProducto p {
    font-weight: 600;
    font-size: 24px;
    opacity: .8;
}

.caracteristicasProducto {
    width: 90%;
    height: 140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.caracteristicasProducto img {
    height: 125px;
    width: 122px;
    margin-left: 15px;
}

.caracteristicasProducto p {
    width: 130px;
    font-size: 12px;
    opacity: .5;
    margin-left: 20px;
}

.porcionesYCantidad {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.porciones {
    font-size: 14px;
}

.precio {
    font-size: 21px;
    color: #EC3205;
    margin-left: 40px;
    font-weight: 600;
}

.cantidadContenedor {
    display: flex;
    align-items: center;
    padding: 0 30px 0 35px;
    margin-top: 20px;
}

.cantidad {
    font-size: 14px;
}

.cantidadNumero {
    padding: 8px 14px;
    background: #EC3205;
    color: #ffffff;
    border-radius: 5px;
    font-size: 21px;
    margin-left: 25px;
    cursor: pointer;
}

.cantidadContenedor span {
    font-size: 18px;
    margin-left: 25px;
}

.precioCantidad {
    padding: 8px 14px;
    background: #EC3205;
    color: #ffffff;
    border-radius: 5px;
    font-size: 21px;
    margin-left: 10px;
    cursor: pointer;
}

.agregarPedido {
    background: #EC3205;
    color: #ffffff;
    margin: 20px 30px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    color: #C4C4C4;
    font-size: 18px;
    font-weight: 700;
}

.carritoCompra {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: 25px;
}

.carritoCompra img {
    height: 55px;
    width: 55px;
    cursor: pointer;
}

@media (min-width: 450px) {
    
    .caracteristicasProducto {
        display: flex;
        justify-content: center;
    }

    .porcionesYCantidad {
        display: flex;
        justify-content: center;
    }

    .cantidadContenedor {
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 350px) {
    
    .nombreProducto p {
        font-size: 20px;
    }
    
    .caracteristicasProducto img {
        height: 90px;
        width: 90px;
        margin-left: 10px;
    }
    
    .caracteristicasProducto p {
        font-size: 11px;
        margin-left: 10px;
    }
    
    .porcionesYCantidad {
        margin-left: 30px;
    }
    
    .porciones {
        font-size: 12px;
    }
    
    .precio {
        font-size: 16px;
        margin-left: 20px;
    }
    
    .cantidadContenedor {
        padding: 0 20px 0 15px;
        margin-top: 10px;
    }
    
    .cantidad {
        font-size: 12px;
    }
    
    .cantidadNumero {
        padding: 2px 6px;
        font-size: 16px;
        margin-left: 10px;
    }
    
    .cantidadContenedor span {
        font-size: 15px;
        margin-left: 15px;
    }
    
    .precioCantidad {
        padding: 2px 16px;
        font-size: 16px;
    }
    
    .agregarPedido {
        margin: 20px 20px 0 20px;
        height: 40px;
        font-size: 15px;
    }
    
}