.contenido
{   
    margin: 150px 15px 10px 50px;
    border: 1px solid #ec3205;
    border-top-width: 5px;
    border-right-width: -5rem;
    position:relative;
    text-align: center;
    margin-top: -5rem;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 10px 10px 10px #ec3205;
    
    
}

/*.contenido1
{   
    margin: 150px 15px 10px 50px;
    border: 1px solid #ec3205;
    border-top-width: 5px;
    border-right-width: -5rem;
    position:relative;
    text-align: center;
    margin-top: -5rem;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 10px 10px 10px #ec3205;
    
    
}*/


.ajuste {

text-align: center;
margin-top: 1rem;
font-size: 30px;


}

img
{

    margin-top: 5rem;
    max-height: 100%;
    max-width: 100%;
    background:#f1f1f1;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #ec3205;
    

}

.cat {

 height: 300px;
 width: 300px;
 display:block;
 margin:auto;
 margin-top: 5rem;

 
}
