:root {
  --color1: #fff485;
}
/* ----------------------------------------
    |   Por defecto
    -------------------------------------------*/
body {
  background: url("../img/backgroundCompleto.svg");
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
a {
  text-decoration: none;
  color: inherit;
}
/* ----------------------------------------
    |   Aux
    -------------------------------------------*/
.b {
  border: red solid 1px;
}
/* ----------------------------------------
    |   Generales
    -------------------------------------------*/
.content {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  place-content: center;
  margin: 20px;
  flex-direction: column;
  /* border: solid red 1px; */
}
.cabecera img {
  width: 100%;
}

/*  ***************************************************************************** */
.animacion2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------------------- CIRCULO AMARILLO -------------------------------*/
pie {
  width: 290px;
  height: 290px;
  display: block;
  border-radius: 50%;
  background-color: #fff485;
  float: left;
  margin: 1em;
  animation: bg-pie 1s step-end both;
}

@keyframes bg-pie {
  14.28% {
    background-image: linear-gradient(145deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  28.56% {
    background-image: linear-gradient(196.42deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  42.84% {
    background-image: linear-gradient(247.85deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  57.12% {
    background-image: linear-gradient(114deg, transparent 50%, #fff485 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  71.4% {
    background-image: linear-gradient(165.4deg, transparent 50%, #fff485 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  85.68% {
    background-image: linear-gradient(216.8deg, transparent 50%, #fff485 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
}

/* ------------------------------- Bigote -------------------------------*/
.bigote {
  width: 218px;
  height: 67px;
  position: relative;
  top: 227px;
  left: 12%;
  animation: bigoteAnimacion 1.5s step-end both;
  animation-delay: 1s;
}

@keyframes bigoteAnimacion {
  0% {
    opacity: 0%;
    transform: rotate(1deg);
  }
  25% {
    opacity: 100%;
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
/* ------------------------------- Título Animado -------------------------------*/
.tituloAnimado {
  position: relative;
  width: 250px;
  height: 250px;
  left: 7.8%;
  top: -26%;
  animation: tituloAnimacion 6s step-end both;
  /* animation-delay: 4s; */
}
@keyframes tituloAnimacion {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }
}

/* ------------------------------- SLOGAN -------------------------------*/

.slogan {
  position: relative;
  width: 250px;
  height: 250px;
  left: 7.8%;
  top: -26%;
  animation: tituloSlogan 6s step-end both;
}

@keyframes tituloSlogan {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 110%;
  }
}
