:root {
  --blanco: #fff;
  --grisClaro: #f1f1f1;
  --amarillo: #fff485;
  --rojo: #ec3205;
  --grisMedio: #c4c4c4;
  --negro: #313638;
  --verde: #00e676;
}
@font-face {
  font-family: donRemolo;
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
/* ----------------------------------------
|   Por defecto
-------------------------------------------*/
body {
  background: url("../img/backgroundCompleto.svg");
  font-family: "donRemolo";
}
a {
  text-decoration: none;
  color: inherit;
}
/* ----------------------------------------
|   Aux
-------------------------------------------*/
.b {
  border: red solid 1px;
}
/* ----------------------------------------
|   Generales
-------------------------------------------*/
.content {
  display: flex;
  place-content: center;
  margin: 20px;
  flex-direction: column;
}
.cabecera img {
  width: 100%;
}
.titular {
  margin-top: 20px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0px 5px 5px #e0e0e0;
  margin-bottom: 70px;
}
/* ----------------------------------------
|   Footer y BannerFooter
-------------------------------------------*/
.banner {
  margin: 50px 0;
  text-align: center;
}
.banner img {
  width: 90%;
}
/* ----------------------------------------
|   Iconos
-------------------------------------------*/
.headerIconos {
  margin-top: 20px;
  margin-bottom: 16px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2.71296px 13.5648px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;
}
.bloqueNaranja img {
  width: 36px;
  height: 36px;
}

.bloqueNaranja img:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
  contrast(103%);
}
.bloqueNaranja {
  width: 36px;
  height: 36px;
  place-items: center;
  transition: all 0.2s ease;
  border-radius: 3px;
  place-items: center;
  align-items: center;
  justify-items: center;
}
  .bloqueNaranja:hover {
  background-color: #ec3205;
  transition: all 0.1s ease;
}
/* ---------------------------------------- [Jorge]
|   Home
-------------------------------------------*/
.categorias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: 30px;
}
.categorias .caja {
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px #e0e0e0;
  border-radius: 10px;
  margin-bottom: 50px;
}
.categorias .caja .imagen {
  position: relative;
  display: flex;
  place-content: center;
}
.categorias .caja img {
  position: absolute;
  top: -50px;
  width: 190px;
}
.categorias .caja .title {
  font-size: 20px;
  text-align: center;
  padding: 100px 0 50px 0;
}
/* ---------------------------------------- [Jorge]
|   Compra Concretada
-------------------------------------------*/
.compraConcretada {
  background: var(--blanco);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  padding: 50px 50px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.288);
}
.compraConcretada p {
  margin-bottom: 60px;
}
/* ---------------------------------------- [Jorge]
|   Compra Cancelada
-------------------------------------------*/
.compraCancelada {
  margin: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}
.compraCancelada img {
  width: 90%;
}
.compraCancelada .textoDespedida {
  font-size: 2rem;
  background: var(--blanco);
  padding: 70px 50px 20px 50px;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  border-radius: 10px;
}
/* ---------------------------------------- 
|   productoABCD [Víctor]
-------------------------------------------*/
.headerProductoABCD {
  border-radius: 10px;
  margin: 0 20px;
  background: var(--blanco);
  box-shadow: 0px 2px 5px 1px var(--negro);
  height: 60px;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  place-content: center;
  flex-direction: column;
  margin: 20px 20px 0;
}
.containerImg img {
  width: 100%;
  margin-bottom: 10px;
}
.arrowBack {
  margin-left: 15px;
  position: absolute;
  margin-bottom: 15px;
}
.arrowBack img {
  height: 15px;
}
.headerTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
.listado {
  border-radius: 10px;
  margin: 30px 20px 0;
  background: var(--blanco);
  box-shadow: 0px 2px 5px 1px var(--grisMedio);
  height: auto;
  display: flex;
  flex-direction: column;
}
.cajaBotones {
  border-radius: 10px;
  background: var(--blanco);
  box-shadow: 0px 2.71296px 13.5648px var(--negro);
  height: auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 80px 10px 15px;
}
.btn1 {
  height: 45px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 15px 0px;
  width: 100%;
  color: var(--grisMedio);
  background: var(--rojo);
  border: 1px solid var(--rojo);
}
.divBotones {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 0 10px;
}
.btn2 {
  height: 45px;
  border-radius: 10px;
  margin: 10px 5px;
  font-weight: bold;
  align-items: center;
  color: var(--rojo);
  background: var(--grisMedio);
  border: 1px solid var(--rojo);
  width: 90%;
  font-size: 18px;
}
.btn3 {
  height: 45px;
  border-radius: 10px;
  margin: 10px 5px;
  font-weight: bold;
  color: var(--grisMedio);
  background: var(--rojo);
  border: 1px solid var(--rojo);
  width: 90%;
  font-size: 18px;
}
td {
  font-weight: lighter;
  height: 40px;
}
table {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.divPago {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.botonPago {
  color: var(--blanco);
  border: none;
  border-radius: 5px;
  border: 1px solid var(--rojo);
  background: var(--rojo);
  height: 44px;
  width: 100px;
  font-size: 22px;
}
tr p {
  font-size: 22px;
  font-weight: bold;
  width: auto;
  margin-right: 15px;
  margin-top: 5px;
}
/* ----------------------------------------
|   onboarding [Víctor]
-------------------------------------------*/
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.imagenContenedor {
  height: 190px;
}
.textoContenedor {
  font-weight: bold;
  font-size: 26px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.fondoContenedor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  margin: 200px 0px 0px;
}
.fondoContenedor p {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0px 20px 0;
}
.fondoContenedor img {
  height: 14px;
}
.contenedorTexto {
    font-weight: bold;
    font-size: 26px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 40px 20px;
    text-align: center;
}
/* ----------------------------------------
|   productoA9 [Víctor]
-------------------------------------------*/
.contenedorBotones {
    border-radius: 10px; 
    background: var(--blanco);
    box-shadow: 0px 2.71296px 13.5648px var(--grisMedio);
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;  
    margin: 30px 20px 15px;  
}
.div-botones {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0px 10px;
}
.contenedorBotones p {
    text-align: center;
    font-size: 20px;
    margin: 18px 0px 15px;  
}
.contenedorBotones img {
    /* position: absolute; */
    display: flex;
    justify-content: flex-start;
    margin: 20px 10px 0;
    height: 25px;
}
.divInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;
}
.divInputs input {
    height: 60px;
    border-radius: 10px;
    border: none;
    width: 90%;
    box-shadow: 0px 2.71296px 13.5648px var(--grisMedio)
}
.headerProductoA9 {
    border-radius: 10px; 
    margin: 10px 20px 0px;
    background: var(--blanco);
    box-shadow: 0px 2px 5px 1px var(--grisMedio);
    height: 60px;
    display: flex;
    flex-direction: column;
}
.precio {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}
.btn4 {
    height: 45px;
    border-radius: 10px ;
    margin: 10px 5px;
    text-transform: uppercase;
    font-weight: bold;  
    color: var(--blanco);
    background:var(--rojo);
    border: 1px solid var(--rojo);
    width: 45%;
    font-size: 18px;
}
.div-botones input {
    height: 60px;
    border-radius: 10px;
    border: none;
    width: 45%;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2.71296px 13.5648px var(--grisMedio)
}
.btn-a {
    height: 45px;
    border-radius: 10px ;
    margin: 15px 5px 0px 0px;
    font-size: 18px;
    font-weight: bold;  
    color: var(--grisMedio);
    background:var(--rojo);
    border: 1px solid var(--rojo);
    width: 65%;   
}
.contenedorBotones .div-botones img {
    margin: 12px 35px 0px;
    height: 50px;
}
.buttonImagen {
   border: none;
   background: none;
}
.arrow-back {
    margin-left: 15px;
    position: absolute;
    margin-bottom: 15px;  
    border: none;
    background: none; 
}
/* ----------------------------------------
|   Pagina Carga
-------------------------------------------*/

.cabecera {
  position: relative;
}
.cajaFlechaAtras {
  position: absolute;
  width: 12px;
  height: 21px;
  left: 20px;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
}
.productoCompra {
  margin-top: 20px;
  width: 100%;
  height: 520px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
  background: #ffffff;
}
.nombreProducto {
  width: 90%;
  height: 60px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}
.nombreProducto p {
  font-weight: 600;
  font-size: 24px;
  opacity: .8;
}
.caracteristicasProducto {
  width: 90%;
  height: 140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.caracteristicasProducto img {
  height: 125px;
  width: 122px;
  margin-left: 15px;
}
.caracteristicasProducto p {
  width: 130px;
  font-size: 12px;
  opacity: .5;
  margin-left: 20px;
}
.porcionesYCantidad {
  display: flex;
  margin-left: 50px;
  align-items: center;
}
.porciones {
  font-size: 14px;
}
.precio {
  font-size: 21px;
  color: #EC3205;
  margin-left: 40px;
  font-weight: 600;
}
.cantidadContenedor {
  display: flex;
  align-items: center;
  padding: 0 30px 0 35px;
  margin-top: 20px;
}
.cantidad {
  font-size: 14px;
}
.cantidadNumero {
  padding: 8px 14px;
  background: #EC3205;
  color: #ffffff;
  border-radius: 5px;
  font-size: 21px;
  margin-left: 25px;
  cursor: pointer;
}
.cantidadContenedor span {
  font-size: 18px;
  margin-left: 25px;
}
.precioCantidad {
  padding: 8px 14px;
  background: #EC3205;
  color: #ffffff;
  border-radius: 5px;
  font-size: 21px;
  margin-left: 10px;
  cursor: pointer;
}
.agregarPedido {
  background: #EC3205;
  color: #ffffff;
  margin: 20px 30px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: #C4C4C4;
  font-size: 18px;
  font-weight: 700;
}
.carritoCompra {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  margin-top: 25px;
}
.carritoCompra img {
  height: 55px;
  width: 55px;
  cursor: pointer;
}
/* ----------------------------------------
|   Pedidos
-------------------------------------------*/
.contenedorPedidos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  /* border: solid red 3px; */
  box-shadow: 0px 2.71296px 13.5648px rgba(0, 0, 0, 0.15);
  place-items: center;
  height: 80px;
  background-color: #ffffff;
  border-radius: 9px;
  margin-bottom: 13px;
}
.contenedorPedidos :nth-child(1) {
  width: 65px;
}
.texto {
  /* border: solid blue 2px; */
  width: 65%;
  height: 64px;
  display: flex;
  flex-direction: column;
}
#textoTrash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: solid red 1px; */
  width: 100%;
  margin-left: 20px;
}
#textoTrash img {
  margin-top: -2px;
  margin-right: 12px;
}
#textoTrash p {
  margin-left: -20px;
}
.texto p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.texto :nth-child(1) {
  font-family: donRemolo;
  font-size: 16px;
  color: #313638;
  opacity: 0.8;
}
.texto :nth-child(2) {
  margin-top: 4px;
  color: #313638;
  opacity: 0.8;
  font-size: 12px;
}
.texto :nth-child(3) {
  margin-bottom: 5%;
  margin-left: 80%;
  font-size: 9.3px;
}
.texto :nth-child(3) strong {
  color: #ec3205;
  font-size: 14px;
}

.textoProductos {
  font-size: 10px;
}

/* =========================*/
.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  /* border: solid red 3px; */
  box-shadow: 0px 2.71296px 13.5648px rgba(0, 0, 0, 0.15);
  place-items: center;
  /* height: 74px; */
  background-color: #ffffff;
  border-radius: 9px;
  margin-bottom: 13px;
}
.contenedorPrincipal p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 8px;
}
.numero {
  width: 90%;
  align-items: center;
  margin: auto;
}

.contenedorPrincipal p strong {
  font-size: 18px;
}
.contenedorPedidos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: solid red 1px; */
  width: 100%;
}
.parBotones {
  /* width: 92px;
  height: 33.3px; */
  width: 45%;
  height: 33.3px;
  border: solid 1px #ec3205;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  background-color: #c4c4c4;
  color: #ec3205;
  font-size: 16px;
}
.botonNaranja {
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 25px;
  line-height: 100%;
  width: 88%;
  height: 33.3px;
  border: solid 1px #ec3205;
  background-color: #ec3205;
  color: #c4c4c4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parBotones:hover {
  color: #c4c4c4;
  background-color: #ec3205;
}
.naranja {
  background-color: #ec3205;
  color: #c4c4c4;
}
.naranja:hover {
  background-color: #c4c4c4;
  color: #ec3205;
}
p {
  font-weight: 900;
  font-family: donRemolo;
  color: #313638;
  font-style: Bold;
  font-size: 18px;
  line-height: 15px;
}
/* ----------------------------------------
|   Carrito
-------------------------------------------*/
.carrito {
  width: 100%;
  height: 54px;
  backdrop-filter: blur(5px);
  /* -webkit-filter: blur(5px); */
  position: fixed;
  bottom: 0.1px;
  right: 0.1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrito a picture {
  border-radius: 50%;
  background-color: #bdbdbd;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrito a picture:hover {
  border: solid 3px red;
  background-color: red;
}
.carrito a picture img {
  width: 25px;
  height: 24px;
  margin-right: 3px;
}
.carrito a picture img :hover {
  width: 25px;
  height: 24px;
  margin-right: 3px;
}
/* ----------------------------------------
|   Animación 
-------------------------------------------*/
.animacion2 {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* ------------ CIRCULO AMARILLO -----------*/
pie {
  width: 290px;
  height: 290px;
  display: block;
  border-radius: 50%;
  background-color: #fff485;
  float: left;
  margin: 1em;
  animation: bg-pie 1s step-end both;
}
@keyframes bg-pie {
  14.28% {
    background-image: linear-gradient(145deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  28.56% {
    background-image: linear-gradient(196.42deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  42.84% {
    background-image: linear-gradient(247.85deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  57.12% {
    background-image: linear-gradient(114deg, transparent 50%, #fff485 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  71.4% {
    background-image: linear-gradient(165.4deg, transparent 50%, #fff485 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  85.68% {
    background-image: linear-gradient(216.8deg, transparent 50%, #fff485 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
}
/* ---------------- Bigote ------------*/
.bigote {
  width: 218px;
  height: 67px;
  position: relative;
  top: 227px;
  left: 12%;
  animation: bigoteAnimacion 1.5s step-end both;
  animation-delay: 1s;
}
@keyframes bigoteAnimacion {
  0% {
    opacity: 0%;
    transform: rotate(1deg);
  }
  25% {
    opacity: 100%;
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
/* --------- Título Animado ----------*/
.tituloAnimado {
  position: relative;
  width: 250px;
  height: 250px;
  left: 7.8%;
  top: -26%;
  animation: tituloAnimacion 6s step-end both;
  /* animation-delay: 4s; */
}
@keyframes tituloAnimacion {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
}
/* ------------ SLOGAN ------------*/
.slogan {
  position: relative;
  width: 250px;
  height: 250px;
  left: 7.8%;
  top: -26%;
  animation: tituloSlogan 6s step-end both;
}
@keyframes tituloSlogan {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 110%;
  }
}
/* ----------------------------------------
|   Media querys
-------------------------------------------*/
@media (min-width: 450px) {
  .caracteristicasProducto {
      display: flex;
      justify-content: center;
  }
  .porcionesYCantidad {
      display: flex;
      justify-content: center;
  }
  .cantidadContenedor {
      display: flex;
      justify-content: center;
  }
}
@media (max-width: 350px) {
  .nombreProducto p {
      font-size: 20px;
  }
  .caracteristicasProducto img {
      height: 90px;
      width: 90px;
      margin-left: 10px;
  }
  .caracteristicasProducto p {
      font-size: 11px;
      margin-left: 10px;
  }
  .porcionesYCantidad {
      margin-left: 30px;
  }
  .porciones {
      font-size: 12px;
  }
  .precio {
      font-size: 16px;
      margin-left: 20px;
  }
  .cantidadContenedor {
      padding: 0 20px 0 15px;
      margin-top: 10px;
  }
  .cantidad {
      font-size: 12px;
  }
  .cantidadNumero {
      padding: 2px 6px;
      font-size: 16px;
      margin-left: 10px;
  }
  .cantidadContenedor span {
      font-size: 15px;
      margin-left: 15px;
  }
  .precioCantidad {
      padding: 2px 16px;
      font-size: 16px;
  }
  .agregarPedido {
      margin: 20px 20px 0 20px;
      height: 40px;
      font-size: 15px;
  }
}