.buttonFloat {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: var(--margen-horizontal);
  bottom: 1.2rem;
}


.buttonShop {
  display: grid;
  align-items: center;
  margin: 0 auto;
  margin-top: 0.5rem;
  max-width: var(--maxWidth-container);
}

.buttonShop__card {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
  border-radius: 0.625rem;
  background-color: var(--brandColorWhite);
  height: fit-content;
  padding: 12px;
}

.buttonShop__card__grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.br {
  border-radius: 10px;
  height: 50px;
}

.buttonShop__primary {
  margin-bottom: 0.8rem;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  background-color: var(--brandColorRed);
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--brandColorGrey2);
  border: none;
}

.buttonShop__cancel {
  width: 9rem;
  color: var(--brandColorRed);
  background-color: var(--brandColorGrey2);
  font-size: 1.1rem;
  font-weight: 700;
  border-color: var(--brandColorRed);
  border-width: 2px;
}

.buttonShop__buy {
  width: 9rem;
  background-color: var(--brandColorRed);
  color: var(--brandColorGrey2);
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
}

