/* Reset CSS*/


/* 1. box-sizing model. */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* 2. Eliminar margen predeterminado de los browser */

html,
body {
    margin: 0px;
    padding: 0px;
}


/* 3. Estableciendo la minima altura de una caja a toda la pantalla */

html,
body {
    color: var(--color-Negro);
    width: 100%;
    overflow-x: hidden;
}


/* 4. Mejora la representación del texto 
4.1 Definiendo OpenSans como fuente predeterminada*/

body {
    -webkit-font-smoothing: antialiased;
    font-family: OpenSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}


/* 5. Mejorar los valores predeterminados de los medios */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


/* 6. Evitar los desbordamientos de texto */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


/*7. Quitando Estilos de los textos de links  */

a:-webkit-any-link {
    color: unset;
    text-decoration: none;
}

/* 8. Elimina los border de los inputs*/
textarea:focus, input:focus{
    outline: none;
}


/*
  End - Reset CSS
*/


/*******************************************
**********          FONTS       ************
********************************************/

@font-face {
    font-family: OpenSans;
    src: url(/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
}


/*******************************************
**********   Start BackGround   ************
********************************************/


/**
** First Mobile - BackGround for Mobile **
**/

body {
    background-image: url("/assets/img/Background_mobile_PNG.png");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}


/* BackGround for Tablet and Pc */

@media only screen and (min-width:768px) {
    body {
        background-image: url("/assets/img/Background_Desktop_PNG.png");
    }
}


/*******************************************
***********   End BackGround   *************
********************************************/